*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Courgette', cursive;
  font-style: italic;
  font-weight: 300;
  background-color: #e0e0e0;
  padding: .6rem 1.5rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
  float: left;
}

.row .col-1-of-2:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-3 {
  width: calc((100% - 2*6rem) / 3);
  float: left;
}

.row .col-1-of-3:not(:last-child) {
  margin-right: 6rem;
}

.row .col-2-of-3 {
  width: calc(2*(100% - 6rem) / 3);
  background-color: orangered;
  float: left;
}

.row .col-2-of-3:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-4 {
  width: calc((100% - 3*6rem) / 4);
  float: left;
}

.row .col-1-of-4:not(:last-child) {
  margin-right: 6rem;
}

.content {
  margin: 2em 1rem;
}

.content--mobile {
  font-family: 'Courier New', Courier, monospace !important;
}

.content__col--mobile {
  position: relative;
}

.content__col {
  position: relative;
}

.content__col:hover .content__info-hover {
  opacity: 1;
}

.content__col:hover .content__image {
  opacity: .2;
}

.content__col:hover .content__info-name {
  opacity: 0;
}

.content__col:hover .content__techs {
  opacity: 1;
  -webkit-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
}

.content__image {
  width: 100%;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
  height: 18rem;
}

.content__info--mobile {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  color: #ee0034;
  padding: .4rem 1rem;
  border-radius: .3rem;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-size: 1.1rem;
}

.content__info-hover {
  opacity: 0;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  color: #ee0034;
  padding: .4rem 1rem;
  border-radius: .3rem;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-size: 1.4rem;
}

.content__note-red {
  font-size: 1rem;
}

.content__note-red--mobile {
  background-color: #F7CA18;
  font-size: .8rem;
  padding: .5rem 1rem;
  border-radius: .3rem;
}

.content__note-green {
  color: green;
}

.content__note-green--mobile {
  color: green;
  background-color: #F7CA18;
  font-size: .8rem;
  padding: .5rem 1rem;
  border-radius: .3rem;
}

.content__info-name {
  -webkit-transition: .4s all;
  transition: .4s all;
  opacity: .9;
  border-radius: .5rem;
  text-transform: uppercase;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 3rem;
  left: 50%;
  font-size: 1.3rem;
  background-color: #F7CA18;
  color: black;
  padding: .4rem 1rem;
}

.content__info-name--mobile {
  -webkit-transition: .4s all;
  transition: .4s all;
  opacity: .9;
  border-radius: .5rem;
  text-transform: uppercase;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 3rem;
  left: 50%;
  font-size: 1.1rem;
  background-color: #F7CA18;
  color: black;
  padding: .4rem 1rem;
}

.content__techs {
  -webkit-transition: all .4s;
  transition: all .4s;
  background-color: #F7CA18;
  text-align: center;
  padding: 1rem 0;
  -webkit-transform: translateY(-6.1rem);
          transform: translateY(-6.1rem);
  opacity: 0;
}

.content__techs--mobile {
  margin-top: -1rem;
  background-color: #F7CA18;
  text-align: center;
  padding: 1rem 0;
}

.content__techs-header {
  margin-top: .5rem;
  text-transform: uppercase;
  font-style: bold;
}

.header-primary {
  text-align: center;
  text-transform: uppercase;
}

.header-primary--mobile {
  font-family: 'Courier New', Courier, monospace !important;
  text-align: center;
  font-size: 1.4rem;
}

#contact-me {
  font-size: 1rem;
  position: absolute;
  right: 6rem;
  top: 2rem;
  font-weight: 100;
}

#contact-me--mobile {
  text-align: right;
  margin-right: 1.5rem;
}

#contact-me-link {
  -webkit-transition: .1s all;
  transition: .1s all;
  text-decoration: none;
  color: #414141;
}

#contact-me-link:hover {
  color: grey;
}

a.animated-button.thar-four {
  padding: .5rem 1rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #18b8f7;
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

a.animated-button.thar-four--mobile {
  background-color: #00ccff !important;
}

a.animated-button.thar-four--mobile:hover {
  color: black !important;
}

a.animated-button.thar-four:hover {
  color: white;
  background-color: transparent;
}

a.animated-button.thar-four:hover:before {
  right: 0%;
  left: auto;
  width: 100%;
}

a.animated-button.thar-four:before {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #F7CA18;
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
/*# sourceMappingURL=style.css.map */