
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#h4{
    font-weight: 300 !important;
  
}
.button{
    border:1px solid #2098D1 !important;
    transition: .3s all !important;
}
a{
    text-decoration: none !important;
}

@media screen and (max-width:576px){
    .card{
        border-bottom:4px solid #2098D1 !important;
    }
    .row{
        margin: 0 0 !important;
    }
    .col{
        margin: .7rem 0 !important;
    }
}
.icon-box{
    display: flex;
}
.icon{
    margin: 1rem 0;
    height: 3rem;
}