
a.animated-button.thar-four {
	&--mobile{
		background-color: #F7CA18 !important;
		&:hover{
			color:black !important;
		}
	}
    padding: .5rem 1rem;
    text-decoration: none;
	color: rgb(0, 0, 0);
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

}
a.animated-button.thar-four:hover {
	color: rgb(255, 255, 255) ;
	background-color: transparent;
	
}
a.animated-button.thar-four:hover:before {
	right: 0%;
	left: auto;
	width: 100%;
}
a.animated-button.thar-four:before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

}