*,
*::after,
*::before{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    
};

html{
    
    font-size: 62.5%;
    font-family: 'Courgette', cursive;
    font-style: italic;
    font-weight: 300;
    background-color: rgb(224, 224, 224);
    padding: .6rem 1.5rem;


}